# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.opendb

# Visual Studio
Mystery of the Forgotten Castle/.vs
Mystery of the Forgotten Castle/x64
Mystery of the Forgotten Castle/Mystery of the Forgotten Castle/x64
